<html>
  <head>
  </head>
  <body>
    <h1> San Diego Trivia </h1>
    <strong>
      <%= question %>
    </strong>
    <br />
    <strong>
      <%= answer %>
    </strong>
    <br />
    <strong>
      <img src="<%= image %>" />
    </strong>
    <br />
    <a href="/">Back</a>
    <br />
    <p>
      <a href="<%= next %>">Next</a>
    </p>
  </body>
</html>
